@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Urbanist:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfdbcf;
  font-family: "Urbanist", sans-serif;
}

.warpper {
  position: relative;
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400vw;
  height: 100vh;
  animation: slide 12s ease-in-out infinite;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100vw);
  }
  45% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  70% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.warpperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: black;
  font-weight: 700;
  font-size: 75px;
}

.header {
  font-size: 20px;
}

.str2 {
  transform: translateY(10px);
  animation: rot 5s linear infinite;
}

@keyframes rot {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  6% {
    opacity: 1;
    transform: translateX(0);
  }
  24% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
  }
}


@media (min-width: 315) and (max-width: 1024px) {
  .slider {
    overflow: visible;
  }

  .slides {
    pointer-events: auto;
    touch-action: pan-y;
    animation: none;
  }
}
